.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1600px;
  margin: 32px auto 170px auto;
}

.wrapper h2 {
  width: 100%;
  margin: 16px 0;
}
