.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
}

.h2 {
  flex-basis: 100%;
  margin-bottom: 16px;
}

.productsWrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 80px;
  row-gap: 48px;
}
