@import "../../styles/theme.css";

.mainMenuWrapper {
  display: flex;
  width: 335px;
}

.mainMenuWrapper .list a {
  padding: 0 8px;
  text-transform: uppercase;
  color: var(--color-text-grey);
  font-weight: bold;
}

.mainMenuWrapper .list:first-child a {
  padding-left: 0;
  padding-right: 8px;
}

.mainMenuWrapper .list:last-child a {
  padding-right: 0;
  padding-left: 8px;
}

.mainMenuWrapper .list a:global(.active) {
  color: var(--color-text-default);
  border-bottom: 3px solid var(--color-text-default);
}
