.wrapper {
  width: 176px;
}

.wrapper .h3 {
  font-size: 16px;
  margin-bottom: 16px;
}

.liDiv {
  display: flex;
  justify-content: space-between;
}

.outerUl {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.innerUl {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: 8px 0 8px 32px;
}

.innerUl.active {
  color: red;
}
